<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Login</title>
</head>
<body style="padding: 300px">
    <form action="#" method="post">

        <div style="padding: 0 450px 0 450px">

            <div style="padding-bottom: 30px">
                <input type="text" class="form-control" placeholder="Login" name="username">
            </div>
            <div style="padding-bottom: 30px">
                 <input type="text" class="form-control" placeholder="password" name="password">
            </div>

         <button type="submit" class="btn btn-primary">Go</button>

            <div style="padding-top: 30px">
                <h3>{{content}}</h3>
            </div>

        </div>

    </form>



</body>
</html>